        <div id="recover" class="mainContent">
          <form id="recoverForm" action="{getAugViewUrl()}" method="post">
          	<p>Please enter your username below. A new password will be emailed to you.</p>
            <dl>
              <dt><label for="username">User Name: </label></dt> 
              <dd><input type="text" name="username" id="username" value="{user.getUsername()}"/></dd>
            </dl>
            <input type="submit" class="submitButton" name="recover_submit" id="recover_submit" value="Generate Password"/>
          </form>
        </div>