        <div id="fight" class="mainContent">
          <h1 id="explaination">Who do you think would win a drunken bar fight? Click a picture to decide.</h1>
          <div id="names">
            <div id="celeb1Name" class="celebName">
                <a href="{left_fighter.getReference()}" target="_blank">{left_fighter.getName()}</a>
            </div>
            <div id="celeb2Name" class="celebName">
                <a href="{right_fighter.getReference()}" target="_blank">{right_fighter.getName()}</a>
            </div>
            <div id="vs"><img src="{getLayoutUrl()}img/vs.png"/></div>
            <div class="clearRight"></div>
          </div> 
          <div id="celeb1" class="celebFight">
            <form action="{getViewUrl()}" method="post" id="celeb1Form">
              <input type="hidden" name="winner" value="{left_fighter.getId()}"/>
              <div class="largeImgWrapper">
                <img onMouseOver="this.style.cursor='pointer';" onMouseOut="this.style.cursor='auto';" onclick="document.getElementById('celeb1Form').submit()" src="{getPicsUrl()}{left_fighter.getPic()}" alt="{left_fighter.getName()}"/>
              </div>
            </form>
          </div>
          <div id="celeb2" class="celebFight">
            <form action="{getViewUrl()}" method="post" id="celeb2Form">
              <input type="hidden" name="winner" value="{right_fighter.getId()}"/>
              <div class="largeImgWrapper">
                <img onMouseOver="this.style.cursor='pointer';" onMouseOut="this.style.cursor='auto';" onclick="document.getElementById('celeb2Form').submit()" src="{getPicsUrl()}{right_fighter.getPic()}" alt="{right_fighter.getName()}"/>
              </div>
            </form>
          </div>
          <div class="clearBoth"></div>
          <h1>If you can't decide, <a href="{getViewUrl()}">click here</a> for a new fight</h1>
          <h1>Don't know these people? Click on a fighter's name to search Wikipedia</h1>
        </div>