@CHARSET "UTF-8";

/*----------------------------------------------------------
 *	   		Contents
 * General Styling
 * Inner Corner Styling
 * Masterhead
 * Lower Content/Footer
 * Left Sidebar
 * Menu
 * Fight Results
 * Right Sidebar
 * Page Specific
 *	Fight Styling
 * 	Comment Styling
 *	Login/Registration/Contact Styling 
 * Utilties
 *  Page Messages/Errors Styling
 *  Pagination
 *	Clear Classes
 *	Faux Columns
 *	Image Wrappers
 *----------------------------------------------------------*/

/*General Styling*/
body{
	margin: 0px;
	padding: 0px;
    background-color: #f2f2f2;
	font-size: 62.5%;
}

h1{
    font-size: 1.4em;
    text-align: center;
	margin: 0px;
}

a:link{
	color: inherit;
}

#span{
	margin-left: auto;
	margin-right: auto;
    padding-left: 4px;
    padding-right: 4px;
	
}

.mainContent{
    float: right;
    width: 645px;
	min-height: 580px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	background-color: #f2f2f2;
}

.mainContent p{
        margin-top: 45px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em;
        line-height: 1.6em;
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

/* Inner Corner Styling */
.innerCorners{
	float:right;
    width: 645px;
    height: 40px;
    margin-right: 0px;
	background-color: #f2f2f2;	
}

#topInnerCorners{
    background-image: url('../../img/topInnerCorners.gif'); 
        
}

#bottomInnerCorners{
    background-image: url('../../img/bottomInnerCorners.gif');
}

/*Masterhead*/
#masterhead{
    background-color: #4e4b7d;
    margin-right: 154px;
    width: 795px;
    height: 90px;
	position: relative;
}

#masterhead h1{
    position: absolute;
}

#masterhead a:link, #masterhead a:visited, #masterhead a:hover, ,#masterhead a:active{
	text-decoration: none;
}

#masterhead img{
    border: 0
}

#bannerAd{
    float: right;
	width: 468px;
	height: 60px;
    margin: 15px;
}

/*Lower Content/Footer*/

.lowerContent, #footer{
    margin: 0px;
	background-color: #cc4200;
	text-align: center;	
}

.lowerContent{
	float: right;
	width: 645px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
}

.lowerContent p, #footer p{
	margin: 0px;
	padding: 0px;
}

#footer{
	padding-top: 10px;
	width: 795px;
	height: 40px;
}

#footerTop{
	background-image: url('../../img/footerTop.gif');
	margin: 0px;
	width: 795px;
	height: 20px;
	margin-right: 150px;
	margin-top: 20px;
}

#footerText{
	float: left;
	margin-top: 5px;
}

#eXTReMe{
	float: left; 
	margin-left: 50px;
}

#footer p{
	font-family: Georgia, serif;
	font-size: 1em;
	font-weight: bold;
}

#footerBottom{
	background-image: url('../../img/footerBottom.gif');
	margin: 0px;
	width: 795px;
	height: 20px;
    margin-right: 150px;
}

/*Left Sidebar*/
#sidebarA{
        float: left;
        padding: 0px;
        width: 150px;
}

#overlap{
	background-image: url('../../img/overlap.gif');
        width: 150px;
        height: 40px;
}

#roundedEnd{
	background-image: url('../../img/roundedEnd.gif');
	width: 150px;
	height: 20px;
}

/* Menu */
#menu{
        background-color: #4e4b7d;
        width: 150px;
	padding-top: 100px;
}

#menu ul{
        list-style-type:none;
        margin: 0px;
        padding: 0px;
        border-top: 1px solid #BEBCD7;
}

#menu li{
        border-bottom: 1px solid #BEBCD7;
        text-align: center;
        font-size: 1.8em;
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

#menu a:link, #menu a:visited, #menu a:hover, #menu a:active{
        display: block;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #DCDBEA;
}

#menu a:hover{
        text-decoration: underline;
}

/* Fight Results */
#aftermath{
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #cc4200;
        
}

.result{
        width: 120px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 1px solid;
}

.result p{
    text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-size: 1.4em; 
    font-weight: bold;
    line-height: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1px;
}

/*Right Sidebar*/
#sidebarB{
        float: right;
        margin-top: 90px;
        width: 180px;
}

#skyAd_top, #skyAd_bottom{
    width: 180px;
    height: 20px;    
}

#skyAd_top{
    background-image: url('../../img/skyAdTop.gif');
}

#skyAd_bottom{
    background-image: url('../../img/skyAdBottom.gif');
}

#skyAd_body{
    padding: 0px 10px 0px 10px;
    background-image: url('../../img/skyAdBody.gif');    
}

/*---------------------------------------------------------- 
 * Page Specific 
 *----------------------------------------------------------*/

/* Fight Styling */

#explaination{
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

.celebFight{
        display: table-cell;
        text-align: center;
        width: 300px;
}

.celebFight p{
	font-size: 1.8em;
}

#names{
    margin-top: 20px; 
    margin-left: 15px;   
}

.celebName{
    width: 290px;
    text-align: center; 
    font-weight: bold;
    font-size: 2.0em;
    line-height: 1.6em;  
}

#celeb1Name{
    float: left;    
}

#celeb2Name{
    float: right;    
}

#vs{      
        font-size: 2.4em;
        font-weight: bold;
        width: 35px;
}

#celeb1{
        float: left;
}

#celeb2{
        float: right;
}

/* Comment Styling */

.comment{
	width: 625px;
	margin: 10px;
	border: 1px solid #662000;
}

.commentTop{
	height: 1.6em;
	border-bottom: 1px solid #662000;
	background-color: #CC4100;
}

.commenterName{
	float: left;
}

.commentTime{
	float: right;
}

.commentTop p{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #181818;
	margin-left: 5px;
	margin-right: 5px;
}

.commentBody{
	width: 615px;
	margin: 0px;
	padding: 5px;
	text-align: left;
	background-color: #d98157;
}

.commentBody p{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 1.6em;
}

/* Comment Submission Styling */

#commentSubmission textarea{
	margin: 10px;
	padding: 2px;
	width: 620px;
	height:	6em;
	border: 2px solid black;
	color: #000000;
	font-size: 1.8em;
	background-color: #ffd0ba;
}

#commentSubmission input{
	background-color: #a52100;
	color: #ffdaca;
}

/* Login/Registration/Contact Styling */
#login, #register, #recover, #emailForm{
    	text-align: center;
    	min-height: 0px;
  
}

.mainContent form{
    	margin-top: 10px;
}

.mainContent form dl dt, .mainContent form dl dd{
    	padding: 5px;
}

.mainContent form dl dt{
    	float: left;
    	width: 250px;
    	font-size: 1.5em;
}

.mainContent form input, .mainContent form textarea{
   	 border: 1px solid;
   	 width: 300px;
}

.mainContent form textarea{
    height: 100px;	
}

/*---------------------------------------------------------- 
 * Utilities 
 *----------------------------------------------------------*/

.submitButton{
	border: 2px solid black;
	font-size: 1.6em;
	font-weight: bold;
}

/* Page Messages/Errors Styling */
#full_feedback_container{
    float: right;
    width: 645px;
    background: #F2F2F2;    
}

#page_errors, #page_messages{
    font-size: 1.6em;
    margin: 85px 50px 50px 200px;
    border: 1px solid #000000;    
}

#full_feedback_container #page_errors,
#full_feedback_container #page_messages{
    margin: 50px 20px 20px 20px;
}

#page_errors{
	color: #FF0000;	
	border: 1px solid #FF0000;
}

/* Pagination */

.pagination{
    margin: 10px;
}

.pagination .left{
    float: left;
}

.pagination .center{
    text-align: center;
}

.pagination .right{
    float: right;
}

/* Clear Classes */
.clearRight{
    	clear: right;
}

.clearLeft{
	clear: left;
}

.clearBoth{
	clear: both;
}

/* Faux Columns */
#sharedFauxBackground{	
        background-image: url('../../img/fauxBack.gif');
        background-repeat: repeat-y;
}

.sharedBacking{
	float: left;
	width: 795px;
}

/* Image Wrappers */
.largeImgWrapper{
    height: 400px;
    width: 300px;
    display: table-cell;
    vertical-align: middle;
}

.tinyImgWrapper{
    height: 160px;
    width: 120px;
    display: table-cell;
    vertical-align: middle;
}


