@CHARSET "UTF-8";

#span{
	width: 992px;
}

#footerText{/**/
    margin-left: 230px;
    margin-right: 50px;
}

#skyAd{/**/
    	margin: 20 10 20 10px;
}

.celebFight{
	margin: 10px;
}

#celeb1{/**/
	margin-left: 15px;
}

#vs{
       margin-top: 0px;
	   margin-left: 300px;
       margin-right: 300px;
}

#celeb2{/**/

}
